[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
cloud-sptheme = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
build = "make html"
